<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>lnb 메뉴 페이지</title>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>-->
    </head>
<body>
<div id="lnbContainer">
    <div id="lnb">
        <ul>

        </ul>
    </div>
    <p id="message"><%=message%></p>
</div>
</body>
<script type="text/javascript" src="../lnbPage.js"></script>
</html>