<!--타이틀 분류 페이지-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>sub 메뉴 페이지</title>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>-->
</head>
<body>
<div id="number" style="display: none;">2</div>
<div id="lnbContainer">
    <div id="lnb_sub">
        <ul>

        </ul>
    </div>
    <p id="message"><%=message%></p>
    <script type="text/javascript" src="http://localhost:3000/lnbPage.js"></script>
</div>
</body>
</html>