<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>댓글 리다이렉트 페이지</title>
</head>
<body>
<p id="message"><%=message%></p>
<div id="lnbContainer">

</div>
<!--<script type="text/javascript" src="http://localhost:3000/replyPage.js"></script>-->
</body>
</html>